body{
    background-color:#E5E5E5;
    overflow-x:hidden;
    width:100%;
}

a{
    text-decoration: none;
    color:inherit;
}

header{
    height:92px;
    width:100%;
    background-color:#CF2B2B;
    position:fixed;
    top:0px;
    left:0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index:2;
}

header h1{
    position: absolute;
    left: 21px;
    top: 8px;
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}

header h2{
    position: absolute;
    left: 21px;
    top: 57px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.pratos{
    margin-top:123px;
}

h3{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333;
}

.pratos h3{
    margin-left:19px;
}

.bebidas h3{
    margin-top:16px;
    margin-left:19px;
}

.sobremesas h3{
    margin-top:16px;
    margin-left:19px;
}

.opcoes{
    margin-top:12px;
    width:100%;
    overflow-y:auto;
    overflow-x:scroll;
    white-space:nowrap;
}

.opcao{
    margin-top:5px;
    display:inline-block;
    width: 172px;
    margin-right:16px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.25);
    border-radius: 9px;
    position:relative;
    margin-bottom:6px;
}

.opcao:hover{
    cursor:pointer;
}

.opcao img{
    width: 144px;
    height: 87px;
    margin-left: 14px;
    margin-top: 18px;
    border-radius: 4px;
}


h4{
    margin-left:15px;
    margin-top:8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #333333;
}

.opcao div{
    margin-left:15px;
    margin-top:7px;
    width:147px;
    white-space:pre-wrap;
}

h5{
    margin-left:15px;
    margin-top:8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-bottom:13px;
}

.opcao p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #A6A6A6;
}

.sobremesas{
    margin-bottom:92px;
}
.primeiro{
    margin-left:19px;
}

.barra-inferior{
    position:fixed;
    bottom:0;
    left:0;
    width:100vw;
    height:92px;
    display:flex;
    justify-content:center;
    align-items: center;
    background-color:#FFFFFF;
}

.barra-inferior div{
    width:364px;
    height:61px;
    background-color:#CBCBCB;
    border-radius: 50px;
    display:flex;
    justify-content:center;
    align-items: center;
}

.barra-inferior p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
    color:#FFFFFF;
}

.checkmark{
    position:absolute;
    bottom:5px;
    right:8px;
    font-size:19px;
    color:#32B72F;
}

.botao:hover{
    cursor:pointer;
}

#confirmarDados{
    width:100vw;
    height:100vh;
    background-color:rgba(255, 255, 255, 0.9);
    position:fixed;
    top:0;
    left:0;
    z-index:3;
}

.box-confirmar{
    width:377px;
    height:353px;
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius:9px;
    position:absolute;
    top:calc(50% - 353px/2);
    left:calc(50% - 377px/2);
}

.box-confirmar p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    position:absolute;
}

.box-confirmar h6{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.018em;
    color: #FFFFFF;
    position:absolute;
}

.box-confirmar > h6:first-child{
    top: 25px;
    left: 75px;
}

#nomePratoConfirma{
    top:76px;
    left:26px;
}

#precoPratoConfirma{
    top:76px;
    right:26px;
}

#nomeBebidaConfirma{
    top:116px;
    left:26px;
}

#precoBebidaConfirma{
    top:116px;
    right:26px;
}

#nomeSobremesaConfirma{
    top:156px;
    left:26px;
}

#precoSobremesaConfirma{
    top:156px;
    right:26px;
}

#total{
    top:196px;
    left:26px;
}

#precoTotal{
    top:196px;
    right:26px;
}

#cancelar{
    top:310px;
    left: calc(50% - 91.34px/2);
}

#cancelar:hover{
    cursor:pointer;
}
.botaoConfirmaDados{
    position:absolute;
    width: 329px;
    height: 52px;
    top:247px;
    left:24px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100px;
    background-color:#FFFFFF;
}

.botaoConfirmaDados:hover{
    cursor:pointer;
}

.botaoConfirmaDados h6{
    color:#50D074;
}

.on{
    display: default;
}

.off{
    display:none;
    
}